DATABASE_URL=postgresql://neondb_owner:npg_9kMZYhECRle0@ep-jolly-snow-a5ex0558-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
ENCRYPTION_KEY=SHlu8auNkU4zJXoA45D5mvoPvPY8UUVwvHdByKMY0pY=
JWT_SECRET=hm5KmDmCtpOtnQ9lKfIkR-kA54PCdd_y-fU8vtlIUiA
JWT_EXPIRE_MINUTES=60